
/* HEADER STYLES */
a:link {
    color: rgb(216, 216, 216);
    text-decoration: none !important;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* visited link */
  a:visited {
    color: rgb(32, 32, 32);
  }
  
  /* mouse over link */
  a:hover {
  color:#a1a1a1;
  }
  
  /* selected link */
  a:active {
    color: #fff;
  }

.buffer{
    height: 70px;
    width:100%;
    }

.header{
     
        flex-direction: row;
        display: flex;   
     
    
        padding:50px;
        background-color: #000;
    }
    
    /* 
Class selector  */
.navigation{
    margin-top:5px;
    margin-left: auto; 
margin-right: 0;
}
.search{
    width: 120px;
    height: 30px;
    margin-left: 250px;
    background-color:#FFFFFF;
    @extend .border; /*inheritance*/
}
.header_parent{
    display: flex;
    padding: 20px;
    position: relative;
    width:100%;
    height: 1000;
    z-index: 1;
}

/* 
FOOTER STYLES */
/* 
Class selector  */
.footer{
     
    flex-direction: row;
    display: flex;   
 

    padding:50px;
    background-color: #FFFFFF;
}

.image{
    flex-direction: column;
    display: flex;  
    margin: auto;
    padding:20px;
}


.image2{
    flex-direction: column;
    display: flex;  
    margin: auto;
    padding:100px;
    align-content: center;
}
